/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #1c1c1c;
    color: #e0e0e0;
    display: flex;
    min-height: 100vh;
}

/* Estructura de la página */
.container {
    display: flex;
    width: 100%;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background-color: #252525;
    padding: 20px;
}

.sidebar h2 {
    color: #5c88ff;
    margin-bottom: 20px;
}

.sidebar nav ul {
    list-style: none;
}

.sidebar nav ul li a {
    color: #bdbdbd;
    text-decoration: none;
    padding: 10px;
    display: block;
    transition: background-color 0.3s;
    text-shadow: 0 0 10px #5c88ff;
}

.sidebar nav ul li a:hover {
    background-color: #5c88ff;
    /* background-color: #6c5cff; */
    color: #fff;
}

/* Main content */
.content {
    flex: 1;
    padding: 40px;
}

/* Estilos para secciones */
.section {
    background-color: #2a2a2a;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.section p {
    margin-bottom: 20px;
    font-size: large;
}

.hidden {
    display: none;
}

h2 {
    color: #5c88ff;
    margin-bottom: 20px;
}

.banner {
    width: 100%;
    height: 250px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.tec-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.tec-card h3 {
    color: #ffffff;
    text-shadow: 0 0 10px #00ffff;
}

.tec-card:hover {
    background-color: #444; /* Cambia el color de fondo */
    color: #00ffff; /* Cambia el color del texto */
    transform: scale(1.05); /* Aumenta el tamaño ligeramente */
    transition: all 0.3s ease; /* Añade una transición suave */
}


/* Estilos para las tarjetas de proyectos */
.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.project-card h3 {
    color: #5c88ff;
    margin-bottom: 20px;
}

.project-card p {
    color: #dad6fd;
    margin-bottom: 20px;
}

.project-card img {
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.project-card img:hover {
    transform: scale(1.05); 
    transition: all 0.3s ease;
}

.project-card a {
    color: #5c88ff;
    text-decoration: none;
    font-weight: bold;
}

.project-card a:hover {
    color: #fff;
}

.social-links {
    display: flex;
    justify-content: center;  /* Centrar horizontalmente */
    gap: 20px;                /* Añadir espacio entre los enlaces */
    margin-bottom: 20px;      /* Espacio debajo de los enlaces */
}
.social-links a {
    color: #5c88ff;
    text-decoration: none;
}

.social-links a:hover {
    color: #fff;
    transform: scale(1.1); 
    transition: all 0.3s ease;
}

/* Estilos para la sección de contacto */
#contacto h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;                    /* El formulario ocupará el 50% del espacio */
    margin: 0 auto;                 /* Centramos el formulario horizontalmente */
}

form input, form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 100%;
}

form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #5c88ff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #1c04fa;
}

#alert {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #6c5cff;
    color: #c1e90e;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
