/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #1c1c1c;
    color: #e0e0e0;
    display: flex;
    min-height: 100vh;
}

/* Estructura de la página */
.container {
    display: flex;
    width: 100%;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background-color: #252525;
    padding: 20px;
}

.sidebar h2 {
    color: #5c88ff;
    margin-bottom: 20px;
}

.sidebar nav ul {
    list-style: none;
}

.sidebar nav ul li a {
    color: #bdbdbd;
    text-decoration: none;
    padding: 10px;
    display: block;
    transition: background-color 0.3s;
    text-shadow: 0 0 10px #5c88ff;
}

.sidebar nav ul li a:hover {
    background-color: #5c88ff;
    color: #fff;
}

/* Main content */
.content {
    flex: 1;
    padding: 40px;
}

/* Estilos para secciones */
.section {
    background-color: #2a2a2a;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.section p {
    margin-bottom: 20px;
    font-size: large;
}

.hidden {
    display: none;
}

h2 {
    color: #5c88ff;
    margin-bottom: 20px;
}

.banner {
    width: 100%;
    height: 220px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.tec-card, .project-card {
    display: flex;
    flex-direction: column;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    transition: all 0.3s ease;
}

.tec-card h3 {
    color: #ffffff;
    text-shadow: 0 0 10px #00ffff;
}

.tec-card:hover, .project-card:hover {
    background-color: #444;
    transform: scale(1.05);
}

/* Estilos para las tarjetas de proyectos */
.project-card img {
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.project-card img:hover {
    transform: scale(1.05); 
}

.project-card h3 {
    color: #5c88ff;
    margin-bottom: 20px;
}

.project-card p {
    color: #dad6fd;
    margin-bottom: 20px;
}

.project-card a {
    color: #5c88ff;
    text-decoration: none;
    font-weight: bold;
}

.project-card a:hover {
    color: #fff;
}

/* Social links */
.social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.social-links a {
    color: #5c88ff;
    text-decoration: none;
}

.social-links a:hover {
    color: #fff;
    transform: scale(1.1);
    transition: all 0.3s ease;
}

/* Estilos para el formulario */
form {
    width: 50%;
    margin: 0 auto;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

form button {
    background-color: #5c88ff;
    color: white;
    border-radius: 5px;
    padding: 10px;
}

form button:hover {
    background-color: #1c04fa;
}

/* Media Queries para hacer la página responsiva */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    /* Ajustar sidebar en pantallas pequeñas */
    .sidebar {
        width: 100%;
        text-align: center;
    }

    .sidebar nav ul li a {
        padding: 15px;
        font-size: 18px;
    }

    /* El contenido principal ocupa todo el ancho */
    .content {
        padding: 20px;
    }

    /* Formulario más pequeño y centrado */
    form {
        width: 80%; /* Ocupará el 80% en pantallas pequeñas */
    }

    .project-card img {
        max-width: 100%; /* Las imágenes ocuparán todo el ancho */
    }

    /* Tarjetas de tecnología y proyectos apiladas */
    .tec-card, .project-card {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .sidebar nav ul li a {
        font-size: 16px;
        padding: 10px;
    }

    /* Ajustar banner y texto en pantallas muy pequeñas */
    .banner {
        height: 150px;
    }

    .section p {
        font-size: medium;
    }

    /* Formulario más compacto */
    form {
        width: 100%;
    }
}
